body {
    background-image: url("../images/cloud.jpeg");
}
.jumbotron {
    background-image: linear-gradient(#ff99cc, #ff0080);
    color: white;
    text-align: center;
    height: 140px;
}
#tryagain {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}
#searcher { /*Search textbox*/
    width: 140px;
    margin-left: -114px;
    margin-top: 22px;
}

#searchForCity { /*Search title*/
    margin-top: -70px;
    margin-left: 4px;
}
.cards { /*5 Day Forecast Cards */
    display: inline-block;
    width: 185px;
    height: 230px;
    position: relative;
    left: 60px;
    top: -100px;
    background-color: #cc0066;
}
#searchBtn { /*Magnifying glass*/
    width: 35px;
    height: 35px;
    position: relative;
    top: 10px;
}
.card-header {
    font-size: 18px;
}
.fiveDay { /*Five Day Forecast Title */
    position: relative;
    top: -130px;
    left: 25px;
}
.onestateinfo { /*Main card*/
    width: 440px;
    height: 250px;
    text-align: center;
    position: relative;
    margin-left: 15px;
    margin-top: -380px;
}

.firstFont {
    font-size: 12px;
}
.statebuttons {
    display: inline-block;
    width: 120px;
    height: 150px;
    margin-left: 25px;
    margin-top: 20px;
    background-color: #cc0066;
    border-color: white;
}


@media only screen and (max-width: 411px) {
    /*Mobiles ONLY */
    .jumbotron {
        background-image: linear-gradient(#ff99cc, #ff0080);
        color: white;
        text-align: center;
        height: 200px;
        width: 880px;
    }
    
    #searchForCity { /*Search title*/
        margin-top: -70px;
        margin-left: 4px;
    }
    
    #searchBtn { /*Magnifying glass*/
        width: 35px;
        height: 35px;
        position: relative;
    }
    .card-header {
        font-size: 18px;
    }
    .cards { /*5 Day Forecast Cards */
    display: inline-block;
    width: 175px;
    height: 200px;
    position: relative;
    margin-left: 285px;
    background-color: #cc0066;
  }
    .fiveDay {
        position: relative;
        left: 360px;
        margin-top: -50px;
    }
    .onestateinfo { /*Main card*/
        width: 360px;
        height: 270px;
        text-align: center;
        position: relative;
        top: -170px;
        left: 230px;
        display: inline-block;
    }
    .firstFont {
        font-size: 12px;
    }
    .statebuttons {
        display: inline-block;
        width: 120px;
        height: 150px;
        margin-left: 25px;
        margin-top: 20px;
        background-color: #cc0066;
        border-color: white;
    }
    }
 
@media only screen and (width: 414px) {
    /*iPhone 6/7 ONLY */
    .jumbotron {
        background-image: linear-gradient(#ff99cc, #ff0080);
        color: white;
        text-align: center;
        height: 220px;
        width: 1280px;
    }

    #searchForCity { /*Search title*/
        margin-top: -70px;
        margin-left: 4px;
    }
    #searchBtn { /*Magnifying glass*/
        width: 35px;
        height: 35px;
        position: relative;
    }
    .card-header {
        font-size: 18px;
        text-align: center;
    }
    .cards { /*5 Day Forecast Cards */
        display: inline-block;
        width: 140px;
        height: 260px;
        position: relative;
        margin-left: 540px;
        background-color: #cc0066;
        text-align: center;
    }
    .fiveDay {
        position: relative;
        left: 590px;
    }
    .onestateinfo { /*Main card*/
        width: 360px;
        text-align: center;
        position: relative;
        top: -140px;
        left: 450px;
        height: 280px;
        display: inline-block;
    }
    .firstFont {
        font-size: 12px;
    }
    .statebuttons {
        display: inline-block;
        width: 120px;
        height: 150px;
        margin-left: 25px;
        margin-top: 20px;
        background-color: #cc0066;
        border-color: white;
    }
    
    }

@media only screen and (min-width: 768px) {
    /*iPad ONLY */
    .jumbotron {
        background-image: linear-gradient(#ff99cc, #ff0080);
        color: white;
        text-align: center;
        height: 220px;
        width: 1380px;
    }
    
    #searchForCity { /*Search title*/
        margin-top: -70px; 
        margin-left: 4px;
    }
    
    #searchBtn { /*Magnifying glass*/
        width: 35px;
        height: 35px;
        position: relative;
    }
    .card-header {
        font-size: 18px;            
        text-align: center;
    }
    .cards { /*5 Day Forecast Cards */
        display: inline-block;
        width: 140px;
        height: 245px;
        position: relative;
        top: 50px;
        left: 330px;
        background-color: #cc0066;
        text-align: center;
    }
    .fiveDay {
        position: relative;
        top: 20px;
        left: 300px;
    }
    .onestateinfo { /*Main card*/
        width: 400px;
        display: inline-block;
        left: 340px;
        height: 360px;
    }
    #mainstate {
        margin-left: 90px;
    }
    #mainpara {
        margin-left: 110px;
    }
    .firstFont {
        font-size: 12px;
    }
    .statebuttons {
        display: inline-block;
        width: 120px;
        height: 150px;
        margin-left: 25px;
        margin-top: 20px;
        background-color: #cc0066;
        border-color: white;
    }

}   